<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About </a></li>
  <li><a href="/routes">Routes</a></li>
  </ul>
<table>
<tr>
  <th>Route</th>
  <th>Distance</th>
  <th>Creator</th>
  <th>Time to Complete</th>
  <th></th>
</tr>

</table>