<h1>About RouteRunner</h1>
<h2>Welcome to Route Runner!</h2>
<p>Hello! Thank you for visiting RouteRunner, an online service designed with the intent of helping athletes like you track and share their running progress with the world! RouteRunner offers users the opportunity for them to upload customized running routes along with information pertaining to their own progress, such as their personal records, discriptions of their routes, and any additional information that they'd like to share. By sharing our own favorite courses and trails, RouteRunner provides us all with the opportunity to share our love for excercise and to make our experiences out on our routes into something both social and fun!</p>
<p>RouteRunner is designed by athletes, for everyone!</p>